body{
  margin:100px;
}



.header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

ul{
  list-style-type:circle;
}
i{
  color:blue;
}

.work_experience{
  padding-top: 25px;
}
#ms{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bs{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.when{
  font-family:sans-serif;
  font-style: italic;
}

.experience{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
